parameters:

services:
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    MusicStore\:
        resource: '../src/'
        exclude:
            - '../src/Application/Query'
            - '../src/Application/Command'
            - '../src/Domain/'
            - '../src/Kernel.php'

    MusicStore\Infrastructure\Ports\Api\Controller\:
        resource: '../src/Infrastructure/Ports/Api/Controller/'
        tags: ['controller.service_arguments']

    MusicStore\Infrastructure\Ports\Api\Controller\BandController:
        arguments:
            $responseHeaderBag: '@MusicStore\Infrastructure\Adapters\Doctrine\EventListener\ResponseHeaderBag'

    MusicStore\Infrastructure\Ports\Api\Controller\AlbumController:
        arguments:
            $responseHeaderBag: '@MusicStore\Infrastructure\Adapters\Doctrine\EventListener\ResponseHeaderBag'

    MusicStore\Infrastructure\Ports\Api\Controller\TrackController:
        arguments:
            $responseHeaderBag: '@MusicStore\Infrastructure\Adapters\Doctrine\EventListener\ResponseHeaderBag'

    MusicStore\Application\Command\:
        resource: '../src/Application/Command/**/**Handler.php'

    _instanceof:
        MusicStore\Application\Command\CommandHandlerInterface:
            tags:
                - { name: messenger.message_handler, bus: command_bus }

    MusicStore\Application\Command\CommandBusInterface: '@MusicStore\Infrastructure\Adapters\Symfony\Messenger\CommandBus'
    MusicStore\Domain\Album\AlbumRepositoryInterface: '@MusicStore\Infrastructure\Adapters\Doctrine\DomainModel\AlbumRepository'
    MusicStore\Domain\Band\BandRepositoryInterface: '@MusicStore\Infrastructure\Adapters\Doctrine\DomainModel\BandRepository'
    MusicStore\Domain\Track\TrackRepositoryInterface: '@MusicStore\Infrastructure\Adapters\Doctrine\DomainModel\TrackRepository'

    MusicStore\Infrastructure\Adapters\Mailer\SystemMailer:
        arguments:
            $connectionString: '%env(MAILER_DSN)%'

    MusicStore\Application\Notification\MailerInterface: '@MusicStore\Infrastructure\Adapters\Mailer\SystemMailer'

    MusicStore\Infrastructure\Adapters\Doctrine\EventListener\ResponseHeaderBag:
        class: Symfony\Component\HttpFoundation\ResponseHeaderBag
        arguments: []

    MusicStore\Infrastructure\Adapters\Doctrine\EventListener\DomainEntityUpdate:
        arguments:
            $responseHeaderBag: '@MusicStore\Infrastructure\Adapters\Doctrine\EventListener\ResponseHeaderBag'
        tags:
            - name: 'doctrine.event_subscriber'
